/* 
  Project 4
  Name: Wei Wang
  Date: December 4, 2024
  Description: CSS STYLE
*/

@font-face {
  font-family: 'Economica';
  src: url(./fonts/Economica/Economica-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orewa';
  /* Name the font */
  src: url('./fonts/orewa/OREWA-PersonalUse.otf') format('opentype');
  /* Path to the .otf file */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Maocao';
  /* Name the font */
  src: url('./fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf') format('opentype');
  /* Path to the .otf file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yuji';
  /* Name the font */
  src: url('./fonts/Yuji_Hentaigana_Akari/YujiHentaiganaAkari-Regular.ttf') format('truetype');
  /* Path to the .otf file */
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* Style for index */
div#container {
  margin: 0 auto;
  width: 1440px;
  height: 1024px;
  background-image: url(../img/fuji1.png);

  /* Make background image always in the centre */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  height: 60px;
  padding-left: 134px;
  padding-right: 50px;
}



#logo {
  height: 100%;
  background-image: url(../img/Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

#nav {
  height: 100%;
  /* Always on top */
  z-index: 10
}

#nav>#menu {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;

  /* Smooth transition */
  transition: opacity 2s ease, visibility 2s 2s, height 2s ease;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 2s ease, max-height 2s ease;
  visibility: hidden;
}

#menu.show {
  /* Smooth transition */
  opacity: 1;
  max-height: 500px;
  visibility: visible;
}

#nav>#menu>li {
  line-height: 60px;
  display: block;
  height: 100%;
  font-size: 36px;
  list-style: none;
}

#nav>#menu>li>a {
  color: #000;
  font-family: 'Economica', sans-serif;
}

#nav>div>a>svg {
  color: #000;
}

#content {
  position: relative;
  width: 100%;
  height: 94%;
}

#content #brand-name {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#brand-name>div>h1,
#brand-name>div {
  margin: 0;
  font-size: 96px;
  color: #ffffff;
  text-align: center;
  font-family: 'Maocao', sans-serif;
}


#slogan>h2 {
  font-family: 'Economica', sans-serif;
  font-size: 36px;
  color: #ffffff;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.move-button {
  color: #ffffff;
  font-size: 32px;
}

div#food-menu {
  width: 331px;
  height: 84px;
  border: 1px solid #FFC700;
  border-radius: 25px;

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#food-menu>a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-family: 'Economica', sans-serif;
  font-size: 36px;
  color: #ffffff;
}

#footer {
  padding: 0px 50px 0px 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  background-color: #5679AF;
}


#footer>div:nth-child(2)>p {
  font-family: 'Economica', sans-serif;
  margin-left: 60px;
  font-size: 24px;
  color: #ffffff;
  transform: translate(-220px, 0px);
}

#footer>div:nth-child(3) {
  width: 120px;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.logo-small {
  display: flex;
  align-items: center;
  width: 100px;
  height: auto;

  height: 100%;
  background-image: url(../img/Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;

}

/* style for news */
#news {
  margin: 0 auto;
  width: 1440px;
  height: 1024px;
  background-color: #5679AF;

  /* overflow-y: hidden; */
}

#news-content {
  position: absolute;
  top: 139px;
  right: -11px;

  width: 1390px;
  height: 682px;


  display: flex;
}

#left {
  width: 790px;
  height: fit-content;
  color: #ffffff;
}

#right-news1 {
  width: 589px;
  height: 680px;
  background-image: url(../img/news1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#right-news2 {
  width: 589px;
  height: 680px;
  background-image: url(../img/news2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#right-news3 {
  width: 589px;
  height: 680px;
  background-image: url(../img/news3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#left>h1 {
  font-size: 96px;
  font-family: 'Orewa', sans-serif;
}

#left>h1>span {
  font-family: 'Economica', sans-serif;
}

#left>div {
  font-family: 'Economica', sans-serif;
}

#left>div>h2 {
  margin-top: 107px;
  font-size: 48px;
  font-weight: 700;
}


#left>div>p {
  font-size: 36px;
}

/* Style for Menu */
.dish-menu {
  margin: 0 auto;
  background-color: #5679AF;
  min-height: 1024px;
  max-width: 1440px;
}

#content>h1 {
  margin-top: 0%;
  text-align: center;
  color: #ffffff;
  font-size: 63px;
  font-family: 'Orewa', sans-serif;
}

#content>h1>span {
  font-size: 93px;
  font-family: 'Maocao', sans-serif;
}

#content>ul.dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#content>ul.dish-list>li {
  list-style: none;
  margin-right: 80px;
  margin-left: 75px;
  margin-bottom: 10px;
}

#content>ul.dish-list>li>div.dishes {
  /* background-color: pink; */
  width: 260px;
  color: #ffffff;
  font-family: 'Economica', sans-serif;
  margin-bottom: 30px;
}

#content>ul.dish-list>li>div.dishes>div>img {
  width: 100%;
}

#content>ul.dish-list>li>div.dishes>div>h2 {
  text-align: center;
  font-size: 46px;
}

#content>ul.dish-list>li>div.dishes>div>span {
  font-size: 24px;
}

#content>ul>li:nth-child(4)>div>div>span.discription {
  overflow-wrap: break-word;
}

#content>ul.dish-list>li>div.dishes>div>span.price {
  display: block;
  color: #ffd500;
  font-size: 36px;
  width: 100%;
  text-align: center;
}



/* hover effect */
#menu>li>a {
  transition: color 0.3s ease;
}

#nav>#menu>li>a:hover {
  color: #FFC700;
}

#food-menu {
  transition: background-color 0.3s ease;
}

#food-menu:hover {
  background-color: #FFC700;
}


#hamburger>svg:hover {
  fill: #FFC700;
  stroke: #FFC700;
}

#left>div:nth-child(3)>a {
  transition: color 0.3s ease;
}

#left>div:nth-child(3)>a:hover {
  color: #FFC700;
}

#content>ul>li>div>img {
  transition: transform 0.5s ease;
}

#content>ul>li>div>img:hover {
  transform: scale(1.1);
}

#right-news1,
#right-news2,
#right-news3 {
  transition: transform 0.5s ease;
}

#right-news1:hover,
#right-news2:hover,
#right-news3:hover {
  transform: scale(1.1);
}

#contact_form>fieldset:nth-child(3)>button:nth-child(3):hover,
#contact_form>fieldset:nth-child(3)>button:nth-child(2):hover {
  background-color: #FFC700;
  color: #ffffff;
}

/* Brand name fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#brand-name,
#slogan,
#food-menu {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

#brand-name {
  animation-delay: 0s;
}

#slogan {
  animation-delay: 1s;
}

#food-menu {
  animation-delay: 2s;
}

/* Style for thankyou */
#reminder {
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  font-family: 'Economica', sans-serif;
}

#brand-name>h1 {
  color: #ffffff;
  font-size: 76px;
  text-align: center;
  margin: 0;
}

#brand-name>h1#thankYouJp {
  font-family: 'Yuji', sans-serif;
}

#brand-name>h1#thankYou {
  font-family: 'Orewa', sans-serif;
}

/*  The media query, this is only for menu.html */
@media only screen and (max-width: 1400px) {

  /* when zoom in make the footer claim disappear */
  #footer>div:nth-child(2) {
    display: none;
  }

  #content>ul.dish-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #content>h1 {
    font-size: 64px;
  }
}


/*  The media query for index, news and contact page */
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  transition: transform 0.3s ease;
}


@media (min-width: 720px) {
  .container {
    transform: scale(1);
  }
}

@media (max-width: 1440px) and (min-width: 720px) {
  #news-content {
    width: 100%;
  }

  #left>h1 {
    font-size: 48px;
  }

  #left>div:nth-child(2)>h3 {
    margin-top: 10px;
    font-size: 32px;
  }

  #left>div:nth-child(2)>p,
  #left>div:nth-child(3)>a:nth-child(2),
  #left>div:nth-child(3)>a:nth-child(1) {
    font-size: 28px;
  }

  #right-news1,
  #right-news2,
  #right-news3 {
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }


  #nav>#menu>li>a,
  #hamburger {
    font-size: 28px;
  }
}

@media (max-width: 720px) {
  .container {
    transform: scale(0.5);
  }

  #news-content {
    width: 100%;
  }

  #left>h1 {
    font-size: 33px;
  }

  #left>div:nth-child(2)>h3 {
    margin-top: 5px;
    font-size: 21px;
  }

  #left>div:nth-child(2)>p,
  #left>div:nth-child(3)>a:nth-child(2),
  #left>div:nth-child(3)>a:nth-child(1) {
    font-size: 24px;
  }

  #right-news1,
  #right-news2,
  #right-news3 {
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #nav>#menu>li>a,
  #hamburger {
    font-size: 24px;
  }
}

/* form-contact style */
div#form-contact {
  width: 50%;
  min-width: 380px;
  margin: 100px auto;
  background-color: #9cb9d3;
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
  padding: 20px;

  font-family: 'Economica', sans-serif;
}

#form-contact fieldset {
  margin-bottom: 15px;
  padding: 5px;
  border: none;
}

#form-contact fieldset:last-child {
  margin-bottom: 0px;
}

#form-contact hr {
  margin-bottom: 10px;
}

#form-contact legend {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 24pt;
}

#form-contact h3 {
  margin: 0px 0px 10px 0px;
}

#form-contact ul {
  list-style: none;
  margin: 0;
}

#form-contact label {
  font-size: 16pt;
}

#form-contact input:not(input[type="radio"]) {
  width: 200px;
}

#form-contact .client {
  width: 130px;
  display: inline-block;
  text-align: right;
}

#form-contact .client_error {
  margin-left: 130px;
}

#feedback_error {
  margin: 0;
}

#contact_form>fieldset:nth-child(2) {
  margin-bottom: 0px;
}


#form-contact input[type=text],
#form-contact input[type=number],
#form-contact button[type=submit],
#form-contact button[type=reset] {
  padding: 5px 5px;
}

/* Remove spinner buttons for modern browsers */
#form-contact .no-spinner {
  -moz-appearance: textfield;
  /* For Firefox */
  -webkit-appearance: textfield;
  /* For Chrome, Safari, Edge */
  appearance: textfield;
  /* Standard property */
}

/* Hide inner spin buttons (for WebKit browsers like Chrome, Safari) */
#form-contact .no-spinner::-webkit-inner-spin-button,
#form-contact .no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Ensure proper alignment */
}

#form-contact button[type=submit],
#form-contact button[type=reset] {
  width: 70px;
}


#form-contact textarea {
  width: 90%;
}

#form-contact .formfield {

  margin: 10px 0px;
}

#form-contact .bold {
  font-weight: bold;
}

#form-contact .left {
  float: left;
}

#form-contact .right {
  float: right;
}

#form-contact .clear {
  clear: both;
}

#form-contact .error {
  color: red;
  font-style: italic;
  font-weight: bold;
  padding: 10px 0;
  display: none;
}

#form-contact-content {
  height: 863px
}

/* Style the form so that when the user has focus on a field, 
its background colour and font colour are changed. */
#form-contact input:focus,
#form-contact textarea:focus {
  background-color: #00145742;
  color: #FFC700;
}